    <!-- Start Footer -->

    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <footer class="ampstart-footer flex flex-column items-center pxy3">
        <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
              {{ if .HasChildren }}
                <li class="mr2"><a href="/" class="text-decoration-none block">{{ .Name }}</a>
                <div class="abe-list-container">
                    <div class="abe-list-shadow"></div>
                    <ul class="list-reset m0 p0">
                      {{ range .Children }}
                        <li><a href="{{.URL}}">{{ .Name }}</a></li>
                      {{end}}
                    </ul>
                </div>
                </li>
              {{else}}
                <li class="mr2"><a href="{{.URL}}" class="text-decoration-none inline-block">{{ .Name }}</a></li>
              {{end}}
            {{end}}
            </ul>


        {{ with .Site.Social }}
        <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
          {{ with .github }}
              <li class="mr2">
                <a aria-label="github profile" href="https://github.com/{{ . }}" class="inline-block">
                    
                    <i class="fa fa-github fa-2x"></i>        
                </a>
              </li>
          {{ end }}
          {{ with .twitter }}
              <li class="mr2">
                <a aria-label="twitter profile" href="https://twitter.com/{{ . }}" class="inline-block">
                    <i class="fa fa-twitter fa-2x"></i>        
                </a>
              </li>
          {{ end }}
          {{ with .facebook }}
              <li class="mr2">
                <a aria-label="facebook profile" href="https://facebook.com/{{ . }}" class="inline-block">
                   
                    <i class="fa fa-facebook fa-2x"></i>        
                </a>
              </li>
          {{ end }}
          {{ with .angellist }}
              <li class="mr2">
                <a aria-label="angellist profile" href="https://angel.co/{{ . }}" class="inline-block">
                    
                    <i class="fa  fa-angellist fa-2x"></i>        
                </a>
              </li>
          {{ end }}
          {{ with .linkedin }}
              <li class="mr2">
                <a aria-label="linkedin profile" href="https://www.linkedin.com/in/{{ . }}" class="inline-block">
                    
                    <i class="fa fa-linkedin fa-2x"></i>        
                </a>
              </li>
          {{ end }}  
        </ul>
        {{ end }}
<!-- 
        <nav class="ampstart-footer-nav">
            <ul class="list-reset flex flex-wrap mb3">
                <li class="px1"><a class="text-decoration-none caps h5" href="https://github.com/ampproject/amp-by-example/issues/new">feedback</a></li>
                <li class="px1"><a class="text-decoration-none caps h5" href="https://github.com/ampproject/amp-by-example">github</a></li>
                <li class="px1"><a class="text-decoration-none caps h5" href="/LICENSE.txt">license</a></li>
                <li class="px1"><a class="text-decoration-none caps h5" href="https://www.google.com/intl/en/policies/privacy/">privacy</a></li>
            </ul>
        </nav>
 --> 
        <small>{{ .Site.Copyright | safeHTML }} powered by <a href="http://gohugo.io" target="_blank">hugo</a></small>
    </footer>
    <!-- End Footer -->
    {{if ne .Site.Params.googleanalytics nil}}
    <amp-analytics type="googleanalytics" id="analytics">
        <script type="application/json">
        {
            "vars": {
                "account": "{{ .Site.Params.googleanalytics }}"
            },
            "triggers": {
                "default pageview": {
                    "on": "visible",
                    "request": "pageview",
                    "vars": {
                        "title": "{{ .Title }}"
                    }
                }
            }
        }
        </script>
    </amp-analytics>
    {{end}}
    <!-- <amp-install-serviceworker src="/sw.js" data-iframe-src="https://ampbyexample.com/sw.html" layout="nodisplay"></amp-install-serviceworker> -->
</body>

</html>
